// Abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// Base
@use 'base/reset';

// Components
@use 'components/question';
@use 'components/explanation-popup';

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-center;
  background-color: $color-background;
  overflow: hidden;

  &__content {
    @include container;
    @include flex-center;
    height: 100%;
    max-height: 800px;
  }
}
